body {
	font-family: "Helvetica Neue", Helvetica, 'Microsoft YaHei UI', Arial, sans-serif;
}

/* 隐藏 */
.hide,

/* 无 js 时隐藏 */
.nojs .nojs-hide,

/* 有 js 时隐藏 */
.js .js-hide {
	display: none;
}

/* 显示 */
.show-block,

/* 有 js 时显示 */
.js .js-show-block,

/* 无 js 时显示 */
.nojs .nojs-show-block,

/* 有 vue 时显示 */
.vue .vue-show-block {
	display: block;
}

/* 音乐预览播放器 */
#preview {
	width: 100%;
}

/* 多艺术家时的分割线 */
ul.artists li:not(:first-child)::before {
	content: '/';
	padding-right: 10px;
}

.no-margin-bottom {
	margin-bottom: 0;
}